.header {
    size: 100%;
    cursor: pointer;
    background-color: #cccccc;
    color: 'red';
    padding: 2rem;
}
.link {
    margin-right: 2rem;
}

.author {
    text-align: right;
    color: yellow;
    font-size: 12px;
}